.seo-editor {
}

.seo-editor h3 {
    font-size: 14px;
    font-weight: bold;
    color: #4d5156;
    margin: 0;
}

.seo-editor .meta-form {
    position: relative;
    top: -3px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.seo-editor .meta-form .fields-wrapper {
    width: 430px;
}

.seo-editor .meta-form small {
    display: block;
    font-size: 11px;
    color: #4d5156;
}

.seo-editor .meta-form .meta-title {
    margin-bottom: 10px;
}

.seo-editor .meta-form .meta-title input {
    width: 100%;
    max-width: 400px;
}

.seo-editor .meta-form .meta-description {
    margin-bottom: 20px;
}

.seo-editor .meta-form .meta-description textarea {
    width: 100%;
    max-width: 400px;
    height: 100px;
}

.seo-editor .preview {
    width: 100%;
    max-width: 600px;
}

.seo-editor .preview .url {
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 5px;
}

.seo-editor .preview .url span {
    color: #4d5156;
}

.seo-editor .preview .url span.url-menu {
    color: #4d5156;
    height: 18px;
    position: relative;
    display: inline-block;
    fill: #70757a;
    top: 4px;
    left: 6px;
    line-height: 18px;
    width: 18px;
}

.seo-editor .preview .title a {
    color: #1a0dab;
}

.seo-editor .preview .title a:active {
    color: purple;
}

.seo-editor .preview .title {
    display: inline-block;
    margin-bottom: 5px;
    font-family: arial,sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
}

.seo-editor .preview .description {
    color: #4d5156;
    line-height: 1.58;
    font-family: arial,sans-serif;
    font-size: 14px;
}

.seo-editor .robots-form .option-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 800px;
    max-height: 80px;
}

.seo-editor .robots-form .option-list div.option {
    margin-bottom: 10px;
}

.seo-editor .robots-form .option-list div.option .umb-toggle__label {
    font-size: 14px;
}

.seo-editor .image-form {
    width: 100%;
    max-width: 150px;
}

.seo-editor .image-form .image-container {
    position: relative;
    width: 150px;
}

.seo-editor .image-form .image-container img {
    display: block;
    width:100%;
    height:auto;
    margin-bottom: 4px;
}

.seo-editor .image-form .image-container span.remove {
    position: absolute;
    width: 14px;
    height: 14px;
    top: -10px;
    right: -10px;
    padding: 3px;
    fill: #1b264f;
    background-color: #d8d7d9;
    border: 1px solid white;
    border-radius: 100%;
    cursor: pointer;
    z-index: 1000;
}

.seo-editor .image-form .umb-node-preview-add {
    font-size: 14px;
}

.seo-editor .canonical-form input {
    width: 100%;
    max-width: 800px;
}

