<div ng-controller="Digbyswift.Umbraco.MetaEditorController">
    <div class="seo-editor">

        <h3>Title & description</h3>

        <div class="meta-form">
            <div class="fields-wrapper">
                <div class="meta-title">
                    <input type="text" class="umb-property-editor" ng-model="ds.metaTitle" maxlength="150" placeholder="{{ds.defaultVariant.name}}" />
                    <small>{{ds.metaTitle.length || ds.defaultVariant.name.length}} chars (recommended 60-70)</small>
                </div>
                <div class="meta-description">
                    <textarea class="umb-property-editor" ng-model="ds.metaDescription" placeholder="Meta description"></textarea>
                    <small>{{ds.metaDescription.length || '0' }} chars (recommended 150-160)</small>
                </div>
            </div>
            <div ng-if="!ds.loading && !ds.hidePreview" class="preview">
                <div class="url">
                    {{ds.domain}}
                    <span>{{ds.getPath()}}</span>
                    <span class="url-menu">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path>
                        </svg>
                    </span>
                </div>
                <div class="title"><a>{{ds.getTitle()}}</a></div>
                <div class="description">{{ds.getDescription()}}</div>
            </div>
        </div>

        <div class="image-form">

            <div ng-if="ds.metaImageUrl" class="image-container">
                <img ng-src="{{ds.metaImageUrl}}" />
                <span class="remove" ng-click="ds.removeMetaImage()">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M401.431 167.814l-58.757-58.76-88.029 88.026-88.028-88.026-58.76 58.76 88.026 88.027-88.026 88.024 58.76 58.768 88.028-88.031 88.029 88.031 58.757-58.768-88.027-88.024z"></path>
                    </svg>
                </span>
            </div>

            <a class="umb-node-preview-add" ng-click="ds.openMediaPicker()" prevent-default>
                Add meta image
            </a>
        </div>

        <div class="robots-form">
            <hr />
            <h3>Robots meta</h3>
            <div class="option-list">
                <div class="option" ng-repeat="option in ds.robotOptions">
                    <umb-toggle checked="ds.metaRobots.indexOf(option) > -1"
                                on-click="ds.toggleOptions(option)"
                                show-labels="true"
                                label-on="{{option}}"
                                label-off="{{option}}"
                                label-position="right" />

                </div>
            </div>
        </div>

        <div class="canonical-form">
            <hr />
            <h3>Canonical URL</h3>
            <div class="canonical-url">
                <input type="text" class="umb-property-editor" ng-model="ds.canonicalUrl" maxlength="250" placeholder="{{ds.url}}" />
            </div>
        </div>

    </div>
</div>
